<phpunit
        bootstrap="./tests/bootstrap.php.dist"
        colors="true"
        beStrictAboutOutputDuringTests="true"
        beStrictAboutChangesToGlobalState="true"
        processIsolation="true"
        backupGlobals="true"
        backupStaticAttributes="true">
    <testsuites>
        <testsuite>
            <directory suffix="Test.php">./tests/src/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">./src</directory>
            <file>./</file>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="clover.xml"/>
    </logging>
</phpunit>
